.register-page{
background-color: #C4DCBB;
display: flex;
flex-direction: column;
text-align: center;
padding: 30px;
align-items: center;
margin: 15px;
border-radius: 12px;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
;}
