
h1{
  text-align: center;
}
.topAtributes{
  display: flex;
  flex-wrap: wrap;

}
.bottomAtributes{
  display: flex;
  flex-wrap: wrap;

}
.form-control-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.form-control {
  background-color: #C4DCBB;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  flex: 1 0 150px;
  margin: 5px;
}

.form-control label {
  margin-bottom: 5px;
}

.form-control input,
.form-control textarea {
  width: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #C4DCBB;
  border: 1px solid rgb(100, 169, 243);
  padding: 10px 15px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  color: #000000;
  border-radius: 8px;
}

button:hover {
  background-color: #95CBEE;
  color: white;
}

.file-input {
  display: none;
}

.custom-file-upload {
  display: flex;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #95CBEE;
  border-radius: 4px;
  background-color: #FEE9B2;
  color: #000000;
  margin-top: 10px;
}

.custom-file-upload:hover {
  background-color: #95CBEE;
  color: white;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.product-image {
  max-width: 100px;
  height: auto;
  align-items: center;
}

.custom-file-upload {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .header {
      flex-direction: column;
      align-items: flex-start;
  }

  .header button {
      position: relative;
      margin-bottom: 10px;
  }

  .container {
      padding: 15px;
  }

  .form-control-container {
      flex-direction: column;
      align-items: stretch;
  }

  .form-control {
      flex: 1 0 100%;
      margin: 10px 0;
  }

  button {
      width: 100%;
  }

  .product-image {
      max-width: 100%;
  }
}
.delete-button {
  background-color: rgb(226, 80, 80); 
  border: 2px solid rgb(233, 50, 50); 
  color: rgb(8, 3, 3); 
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: rgb(233, 50, 50); 
  color: white; 
}
