<div></div>
<form [formGroup]="productForm" (ngSubmit)="onSave()" class="product-update-form">
<div class="topAtributes">

  <div class="form-control">
    <label for="name">Nombre</label>
    <input *ngIf="isEditing" formControlName="name" id="name" />
    <span *ngIf="!isEditing">{{ productForm.get('name')?.value }}</span>
  </div>
  <div class="form-control">
    <label for="category">Categoría</label>
    <input *ngIf="isEditing" formControlName="category" id="category" />
    <span *ngIf="!isEditing">{{ productForm.get('category')?.value }}</span>
  </div>



  <div class="form-control">
    <label for="price">Precio</label>
    <input *ngIf="isEditing" type="number" formControlName="price" id="price" />
    <span *ngIf="!isEditing">${{ productForm.get('price')?.value }}</span>
  </div>


  <div class="form-control">
    <label for="stock">Stock</label>
    <input
      *ngIf="isEditing"
      type="number"
      formControlName="stock"
      id="stock"
      [readonly]="userRole !== 'employee'"
    />
    <span *ngIf="!isEditing">{{ productForm.get('stock')?.value }}</span>
  </div>
  

  <div class="form-control">
    <label for="state">Estado</label>
    <select *ngIf="isEditing" formControlName="state" id="state">
      <option value="active">Active</option>
      <option value="inactive">Inactive</option>
    </select>
    <span *ngIf="!isEditing">{{ productForm.get('state')?.value }}</span>
  </div>

</div>
<div class="bottomAtributes
">
  <div class="form-control">
    <label for="description">Descripcion</label>
    <textarea *ngIf="isEditing" formControlName="description" id="description"></textarea>
    <span *ngIf="!isEditing">{{ productForm.get('description')?.value }}</span>
  </div>

  <div class="form-control">
    <div class="image-preview">
      <img [src]="imagePreviewUrl" alt="Product Image" class="product-image" *ngIf="imagePreviewUrl" />
    </div>
    <div *ngIf="isEditing">
      <button type="button" class="custom-file-upload" (click)="triggerFileInput()">
        Subir Imagen
      </button>
      <input id="imagen" type="file" accept="image/*" class="file-input" (change)="onFileSelected($event)"
        style="display: none;" />
    </div>
  </div>
</div>



  <div class="form-actions">
    <button *ngIf="!isEditing" type="button" (click)="onEdit()">Editar</button>
    <button *ngIf="isEditing" type="submit">Guardar cambios</button>
    <button *ngIf="isEditing" type="button" (click)="onCancel()">Cancelar</button>
    <button
    type="button"
    class="delete-button"
    *ngIf="userRole !== 'employee'"
    (click)="deleteProduct()"
  >
    Eliminar producto
  </button>
  </div>
</form>


