.manage-users {
  flex: 1;
  padding: 10px;
  border-right: 2px solid #ccc;
  background-color: #95CBEE; 
  text-align: center; /* Center text for the main container */
  border-radius: 8px;
}

.header-container {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space between heading and button */
  margin-bottom: 20px; /* Space below the header */
  width: 92%; /* Adjust as needed */
}

.nuevo {
  background-color: #FEE9B2; /* Button background color */
  border: 1px solid rgb(100, 169, 243); /* Button border color */
  padding: 10px 15px;
  color: #000;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

h2 {
  margin: 0; /* Remove default margin to keep alignment */
  flex-grow: 1; /* Allow the heading to take up remaining space */
  text-align: center; /* Center the heading text */
}

.full-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.icon{
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;

}
.employee-list {
  flex: 1;
  padding: 10px;
  border-right: 2px;
  background-color: #95CBEE; 
}

.employee-list ul {
  list-style-type: none;
  padding: 0;
}

.employee-list li {
  padding: 10px;
  background-color: #C4DCBB; 
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.employee-list li:hover {
  background-color: #87a77c; 
}


.form-container {
  flex: 1;
  background-color: #C4DCBB; 
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-control {
  width: 100%;
  margin-top: 15px;
}

.form-control label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control input,
.form-control select ,.filter-input{ 
  padding: 10px; /* Padding for inputs and selects */
  border: 1px solid #ccc; /* Border for inputs and selects */
  border-radius: 4px; /* Rounded corners for inputs and selects */
  margin-top: 5px; /* Margin on top of inputs and selects */
  margin-bottom: 5px;
}

/* Button styling */
button {
  background-color: #FEE9B2; /* Original button background color */
  border: 1px solid rgb(100, 169, 243); /* Original button border color */
  padding: 10px 15px;
  color: #000;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: #95CBEE; /* Original button hover background color */
  color: white;
}

/* Alert styles */
.alert {
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

.alert-success {
  background-color: #D4EDDA;
  color: #155724;
}

.alert-danger {
  background-color: #F8D7DA;
  color: #721C24;
}
