<div class="manage-users">
  <div class="header-container">
    <button routerLink="register" class="nuevo">Nuevo Usuario</button>
    <h2>Gestión de Credenciales</h2>
  </div>
  <div class="employee-list">
    <input 
      type="text" 
      placeholder="Buscar empleado..." 
      [(ngModel)]="filterText" 
      (input)="filterEmployees()" 
      class="filter-input"
    /> 
    <img src="/Assets/Logo made by miluli/pngegg.png" alt="logo" class="icon" style="cursor: pointer;">

    <div class="full-container">
      <div class="employee-list">
        <ul>
          <li *ngFor="let employee of filteredEmployees" (click)="selectEmployee(employee)">
            <h1>{{ employee.credential }}<br></h1>
            <strong>Nombre:</strong> {{ employee.name }}<br>
            <strong>Apellido:</strong> {{ employee.surname }}<br>
            <strong>Email:</strong> {{ employee.email }}
          </li>
        </ul>
      </div>

      <!-- Form container on the right -->
      <div *ngIf="selectedEmployee" class="form-container">
        <button (click)="onCancel()">X</button>
        <app-profile-update-form
          [userData]="selectedEmployee"
          [isAdmin]="isAllowed"
          (saveChanges)="onSaveChanges()">
        </app-profile-update-form>
        <button (click)="onDelete()">Eliminar Empleado</button>
      </div>
    </div>
    <!-- Success and error messages -->
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

  </div>
</div>
