
.container {
  background-color: #FEE9B2;
  border-radius: 8px;
  padding: 20px;

}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.header button {
  position: absolute;
  left: 0;
}
button {
  background-color: #C4DCBB;
  border: 1px solid rgb(100, 169, 243);
  padding: 10px 15px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  color: #000000;
  border-radius: 8px;
}

button:hover {
  background-color: #95CBEE;
  color: white;
}
@media (max-width: 768px) {
  .header {
      flex-direction: column;
      align-items: flex-start;
  }

  .header button {
      position: relative;
      margin-bottom: 10px;
  }

  .container {
      padding: 15px;
  }

  .form-control-container {
      flex-direction: column;
      align-items: stretch;
  }

  .form-control {
      flex: 1 0 100%;
      margin: 10px 0;
  }

  button {
      width: 100%;
  }

  .product-image {
      max-width: 100%;
  }
}
@media (max-width: 480px) {
  .header {
    margin-bottom: 10px;

  }

  .container {
    padding: 10px;

  }

  button {
    font-size: 14px;

    padding: 12px 20px;
  }

  .form-control {
    font-size: 14px;
  }

  .product-image {
    max-width: 90%;
  }
}
