<div *ngIf="cartItems.length > 0; else emptyCart">
  <h3>Tu Carrito</h3>
  <ul>
    <li *ngFor="let item of cartItems">
      <div class="cart-item">

        <img [src]="item.details?.imageUrl || '/favicon.ico'" alt="{{ item.details?.name }}" />

        <div class="product-info">
          <p><strong>Nombre:</strong> {{ item.details?.name || 'N/D' }}</p>
          <p><strong>Descripción:</strong> {{ item.details?.description || 'Sin descripción disponible' }}</p>
          <p><strong>Precio:</strong> ${{ item.details?.price || 'N/D' }}</p>
          <label for="quantity-{{ item.details?.id }}">Cantidad:</label>

        <p> <label for="quantity-{{ item.details?.id }}">Cantidad: </label>
          <input
            id="quantity-{{ item.details?.id }}"
            type="number"
            [(ngModel)]="item.quantity"
            (ngModelChange)="onQuantityChange(item.details?.id, item.quantity)"
            min="1"
          /></p> 
        

          <button *ngIf="item.details && item.details.id" (click)="removeFromCart(item.details.id!)">
            Remover
          </button>


        </div>
      </div>
    </li>
  </ul>
</div>


<ng-template #emptyCart>
  <p>Tu carrito está vacío.</p>
</ng-template>