form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  align-items: center;
  margin: 15px;
}
.form-control-nombre-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form-control-nombre {
  display: flex;
  flex-direction: column;
}

.form-control-nombre input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.form-control {
  margin-top: 15px;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
}

.form-control input,
.form-control select  {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

button {
  background-color: #FEE9B2;
  border: 1px solid rgb(100, 169, 243);
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 20px;
  color: #000000;
  border-radius: 8px;
}

button:hover {
  background-color: #95CBEE;
  color: white;
}
@media (max-width: 600px) {
  form {
    padding: 15px;
    margin: 10px;
  }

  .form-control-nombre-container {
    flex-direction: column;
    gap: 10px; /* Reduce gap for smaller screens */
    width: 100%; /* Full width on mobile */
  }

  .form-control input,
  .form-control select {
    width: 70%; /* Full width for inputs on mobile */
  }

  button {
    width: 100%; /* Full width for the button */
  }
}
