<div *ngIf="selectedProduct" class="product-details">
  <button (click)=" goBack()" class="volver">Volver</button>

  <div>
    <img [src]="selectedProduct.imageUrl || '/Assets/Logo made by miluli/Logo_MadeByMiluli CONTRASTE - CENTRADO.png'"
      alt="{{ selectedProduct.name }}" class="product-image" />
  </div>
  <div class="info">
    <h1>{{ selectedProduct.name }}</h1>
    <h3>${{ selectedProduct.price }}</h3>
    <p>{{ selectedProduct.description }}</p>

    <div class="quantity-container">
      <label for="quantity">Cantidad:</label>
      <input id="quantity" type="number" [(ngModel)]="quantity" min="1" [max]="selectedProduct.stock"
        aria-label="Quantity" />

    </div>
    <div class="product-header">
      <button class="add-button" (click)="addToCart(quantity)">Agregar al Carrito</button>
      <div class="added-to-cart-message" [class.show]="showAddedToCartMessage">
        {{ cartMessage }}
      </div>
      <button class="favorites-button" (click)="toggleFavorite(selectedProduct.id)">
        <img
          [src]="isFavorite(selectedProduct.id) ? '/Assets/Logo made by miluli/heart.png':'/Assets/Logo made by miluli/whiteheart.png'"
          alt="favoritos" class="icon-favorites" />
      </button>
    </div>


    <a class="shipping-link" (click)="toggleShippingPrices()">Ver precios de envío</a>

    <div *ngIf="showShippingPrices" class="shipping-prices">
      <h4>Precios de Envío:</h4>
      <ul>
        <li>Envío a Domicilio: Cotización al finalizar la compra </li>
        <li>Retiro en Local: $0</li>
      </ul>
    </div>
    <h4>Métodos de Pago:</h4>
    <ul>
      <li>♡Débito</li>
      <li>♡Crédito</li>
      <li>♡Transferencia</li>
    </ul>
  </div>
</div>
