<div class="footer">
  <a routerLink="home">
    <img class="logo" src="\Assets\Logo made by miluli\Logo_MadeByMiluli CONTRASTE - CENTRADO.png" alt="logo completo">
  </a>

  <div class="social-media">
    <a href="https://www.instagram.com/madebymiluli" target="_blank" rel="noopener noreferrer">
      <img class="instagram" src="\pngwing.com.png" alt="Logo Instagram">
      <p>madebymiluli</p>
    </a>

    <a href="mailto:milagrosabril.r@gmail.com" target="_blank" rel="noopener noreferrer">
      <img class="mail" src="\logomail.png" alt="logomail">
      <p>Contactanos</p>
    </a>
  </div>

  <p>Copyright &copy; 2024 | madebymiluli</p>
</div>





