<div class="product-container">
  <div *ngFor="let product of filteredProducts" class="product-card">
    <div class="product-info">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>Precio: ${{ product.price }}</p>
      <p>Categoria: {{ product.category }}</p>
      <p>Stock: {{ product.stock }}</p>
      <p>Estado: {{ product.state }}</p>
    </div>
    <img [src]="product.imageUrl || 'path/to/fallback-image.png'" alt="{{ product.name }}" *ngIf="product.imageUrl" />

    <div class="button-container">
      <button *ngIf="userCredential=== 'admin' || userCredential === 'manager' || userCredential === 'employee'" 
              (click)="editProduct(product)" 
              class="edit-button">
        Edit
      </button>
    </div>
  </div>
</div>
