<div class="product-container">
  <div
  *ngFor="let product of filteredProducts"
       class="product-card"
       (click)="editProduct(product)">


    <div class="product-info">
      <h2>{{ product.name }}</h2>
      <p><strong>Precio:</strong> ${{ product.price | number:'1.2-2' }}</p>
      <p><strong>Categoría:</strong> {{ product.category }}</p>
      <p><strong>Stock:</strong> {{ product.stock }}</p>
      <p><strong>Estado:</strong> {{ product.state }}</p>
      <p>{{ product.description }}</p>
    </div>

    <img [src]="product.imageUrl || '/favicon.ico'" alt="{{ product.name }}" />
  </div>
</div>
