<div class="product-container">
  <div
  *ngFor="let product of filteredProducts"
       class="product-card"
       (click)="editProduct(product)">


    <div class="product-info">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>Precio: ${{ product.price | number:'1.2-2' }}</p>
      <p>Categoria: {{ product.category }}</p>
      <p>Stock: {{ product.stock }}</p>
      <p>Estado: {{ product.state }}</p>
    </div>

    <img [src]="product.imageUrl || 'path/to/fallback-image.png'" alt="{{ product.name }}" />
  </div>
</div>
