
.order-summary {
  background-color: #C4DCBB;
  border: 2px solid #C4DCBB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  padding: 25px;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.summary-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  width: 100%;
}

.summary-item span {
  font-size: 20px;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}

strong {
  font-weight: bold;
  color: #2c3e50;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.pagar {
  width: 80%;
  padding: 12px;
  background-color: #95CBEE;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 15px;
}


.pagar:hover {
  background-color: #FCD5CE;
  color: black;
}
@media (max-width: 768px) {
  .order-summary {
    padding: 20px;
    max-width: 80%;
  }

  h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .summary-item span {
    font-size: 18px;
  }

  .pagar {
    width: 50%;
    font-size: 15px;
    padding: 12px;
  }
}
@media (max-width: 480px) {
  .order-summary {
    padding: 15px;
    max-width: 95%;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .summary-item span {
    font-size: 16px;
  }

  .pagar {
    width: 50%;
    font-size: 14px;
    padding: 10px;
  }
}
