<div class="order-summary">
  <h2>Resumen de Compra</h2>

  <div class="summary-item">
    <span>Subtotal:</span>
    <span>{{ cartSubtotal$ | async | currency:'USD' }}</span>
  </div>

  <div class="summary-item">
    <span>Costo de envío:</span>
    <span>{{ shippingCost$ | async | currency:'USD' }}</span>
  </div>

  <div class="summary-item">
    <span><strong>Total:</strong></span>
    <span><strong>{{ totalOrderAmount$ | async | currency:'USD' }}</strong></span>
  </div>

  <button *ngIf="!inCheckout" class="pagar" (click)="onProceedToPayment()">Continuar</button>
</div>
