<nav *ngIf="(credential$ | async) === null" class="full-container">
  <a routerLink="home">
    <img src="/Assets/Logo made by miluli/Flor_MadeByMiluli.png" alt="logo" class="icon" style="cursor: pointer;">
  </a>
  <div class="toTheRight">
    <ul style="cursor: pointer;">

      <li class="dropdown" (mouseover)="toggleCategoryMenu(true)" (mouseleave)="toggleCategoryMenu(false)">
        <span>Categorías</span>
        <ul class="nested" *ngIf="categoryMenuVisible">
          <li><a routerLink="listCategory" (click)="onCategoryClick('Amigurumi')">Amigurumis</a></li>
          <li><a routerLink="listCategory" (click)="onCategoryClick('Accesorio')">Accesorios</a></li>
        </ul>
      </li>
      <li><a routerLink="activeProducts">Productos</a></li>
    </ul>
    <button routerLink="login" class="log-button">Inicio de sesión</button>
    <button routerLink="register" class="register-button">Registrarme</button>
    <button (click)="cartButton()" class="cart-button">
      <img src="/Assets/Logo made by miluli/basket.png" alt="carrito" class="cart-image">
    </button>

  </div>
</nav>


<nav *ngIf="(isUserOrAdmin() | async)" class="full-container">
  <a routerLink="home">
    <img src="/Assets/Logo made by miluli/Flor_MadeByMiluli.png" alt="logo" class="icon" style="cursor: pointer;">
  </a>
  <div class="toTheRight">
    <ul style="cursor: pointer;">


      <li class="dropdown" (mouseover)="toggleCategoryMenu(true)" (mouseleave)="toggleCategoryMenu(false)">
        <span>Categorías</span>
        <ul class="nested" *ngIf="categoryMenuVisible">
          <li><a routerLink="listCategory" (click)="onCategoryClick('Amigurumi')">Amigurumis</a></li>
          <li><a routerLink="listCategory" (click)="onCategoryClick('Accesorio')">Accesorios</a></li>
        </ul>
      </li>
      <li><a routerLink="activeProducts">Productos</a></li>


      <li class="dropdown" (mouseover)="toggleAccountMenu(true)" (mouseleave)="toggleAccountMenu(false)">
        <span>Mi Cuenta</span>
        <ul class="nested" *ngIf="accountMenuVisible">
          <li><a routerLink="profile">Perfil</a></li>
          <li><a routerLink="purchaseHistory">Pedidos</a></li>
          <li *ngIf="(credential$ | async) === 'adminUser'">
            <a routerLink="homeEmployee" (click)="switchToAdminMode()">Modo Admin</a>
          </li>
        </ul>
      </li>
    </ul>


    <button class="log-button" (click)="logout()">Cerrar sesión</button>


    <button (click)="cartButton()" class="cart-button">
      <img src="/Assets/Logo made by miluli/basket.png" alt="carrito" class="cart-image">
    </button>

  </div>
</nav>


<nav *ngIf="(isAdminOrEmployee() | async)" class="full-container">
  <a routerLink="homeEmployee">
    <img src="/Assets/Logo made by miluli/Flor_MadeByMiluli.png" alt="logo" class="icon" style="cursor: pointer;">
  </a>
  <div class="toTheRight">
    <ul style="cursor: pointer;">

      <li>
        <a routerLink="productAdmin">Productos</a></li>
      <li><a routerLink="orders">Órdenes</a></li>

      <li *ngIf="(credential$ | async) !== 'employee'">
        <a routerLink="manageUsers">Gestión Credenciales</a>
      </li>


      <li class="dropdown" (mouseover)="toggleAccountMenu(true)" (mouseleave)="toggleAccountMenu(false)">
        <span>Mi Cuenta</span>
        <ul class="nested" *ngIf="accountMenuVisible">
          <li><a routerLink="profile">Perfil</a></li>
          <li *ngIf="(credential$ | async) === 'admin'">
            <a routerLink="home" (click)="switchToUserMode()">Modo cliente</a>
          </li>
        </ul>
      </li>
    </ul>

    <button class="log-button" (click)="logout()">Cerrar sesión</button>
  </div>
</nav>
