/* Set the logo */
.icon {
  height: 55px;
}

/* Nav container */
nav {
  background-color: #D1E3EB;
  padding: 15px;
  display: flex;
  align-items: center;
  text-align: center;
}

/* Right-aligned group */
.toTheRight {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: auto; 
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  font-weight: normal;
  color: #000;
}

.cart {
  height: 40px;
}

nav button {
  border: 1px solid rgb(100, 169, 243);
  padding: 10px 15px;
  cursor: pointer;
  color: #000000;
  border-radius: 8px;
}

.log-button {
  background-color: #C4DCBB;
}

.register-button {
  background-color: #FEE9B2;
}

nav button:hover {
  background-color: #95CBEE;
  color: white;
}

.dropdown {
  position: relative;
}

.nested {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #95CBEE;
  z-index: 10000;
  list-style-type: none;
  border-radius: 8px;
}

.dropdown:hover .nested {
  display: flex;
}

.nested li {
  padding: 5px;
}

.nested li a {
  text-decoration: none;
  color: black;
}

.nested li:hover {
  background-color: #95CBEE;
}
