<nav>

   <a routerLink="home"><img src="\Assets\Logo made by miluli\Flor_MadeByMiluli.png"  alt="logo" class="logo"style="cursor: pointer;"></a>

  <ul style="cursor: pointer;">
    <li><a routerLink="categoria" >Categorías</a></li>
    <li><a routerLink="ofertas">Ofertas</a></li>
    <li><a routerLink="productos">Productos</a></li>
    <button routerLink="inicio sesion" class="boton-inicio-sesion">Inicio de sesión</button>
  <button routerLink="registro" class="boton-registrarme">Registrarme</button>

   <a routerLink="carrito"> <img src="\Assets\Logo made by miluli\basket.png" alt="\carrito" class="carrito" ></a>

  </ul>

</nav>

