<form [formGroup]="profileForm" (ngSubmit)="onSave()" class="user-profile-form">
  <h2>Modificar Perfil</h2>

  <div class="form-control-nombre-container">
    <div class="form-control-nombre">
      <label for="name">Nombre</label>
      <input *ngIf="isEditing" formControlName="name" id="name" />
      <span *ngIf="!isEditing">{{ profileForm.get('name')?.value }}</span>
    </div>

    <div class="form-control-nombre">
      <label for="surname">Apellido</label>
      <input *ngIf="isEditing" formControlName="surname" id="surname" />
      <span *ngIf="!isEditing">{{ profileForm.get('surname')?.value }}</span>
    </div>
  </div>

  <div class="form-control">
    <label for="email">Email</label>
    <input *ngIf="isEditing" formControlName="email" id="email" />
    <span *ngIf="!isEditing">{{ profileForm.get('email')?.value }}</span>
  </div>

  <div class="form-control">
    <label for="password">Contraseña</label>
    <input *ngIf="isEditing" type="password" formControlName="password" id="password" />
    <span *ngIf="!isEditing">********</span>
  </div>

  <div class="form-control" *ngIf="isAdmin">
    <label for="credential">Credencial</label>
    <select *ngIf="isEditing" formControlName="credential" id="credential">
      <option value="user">User</option>
      <option value="employee">Employee</option>
      <option value="manager">Manager</option>
      <option value="admin">Admin</option>
    </select>
    <span *ngIf="!isEditing">{{ profileForm.get('credential')?.value }}</span>
  </div>

  <button *ngIf="!isEditing" type="button" (click)="onEdit()">Editar</button>
  <button *ngIf="isEditing" type="submit">Guardar cambios</button>
  <button *ngIf="isEditing" type="button" (click)="onCancel()">Cancelar</button>
  <button type="button" class="delete-button" (click)="onDelete()">Eliminar Perfil</button>
</form>
