<div class="container">
  <img src="/Assets/Logo made by miluli/Logo_MadeByMiluli HORIZONTAL CONTRASTE.png" class="icon">

  <div class="selections">
    <div class="image-container">
      <a routerLink="/orders">
        <img
          src="/Assets/home/amongus.jpg"
          class="back"
          alt="Ordenes Pendientes" />
        <div class="image-text">Ordenes Pendientes</div>
      </a>
    </div>
    <div class="image-container">
      <a routerLink="/stock">
        <img
          src="/Assets/home/IMG_9079.jpg"
          class="back"
          alt="Accesorios" />
        <div class="image-text"> Producto Bajo Stock </div>
      </a>
    </div>
  </div>
</div>
