<div class="container">
  <img src="/Assets/Logo made by miluli/Logo_MadeByMiluli HORIZONTAL CONTRASTE.png" class="icon">

  <div class="selections">
    <div class="image-container">
      <a (click)="onCategoryClick('Amigurumi')"> <!-- Wrap both image and text in an anchor tag -->
        <img
          src="/Assets/home/amongus.jpg"
          class="back"
          alt="Amigurumi" />
        <div class="image-text">Amigurumis</div>
      </a>
    </div>
    <div class="image-container">
      <a (click)="onCategoryClick('Accesorio')"> <!-- Wrap both image and text in an anchor tag -->
        <img
          src="/Assets/home/IMG_9079.jpg"
          class="back"
          alt="Accesorios" />
        <div class="image-text">Accesorios</div>
      </a>
    </div>
  </div>
</div>
