<form [formGroup]="productForm" (ngSubmit)="submitProduct()">
    <h1>Ingresar nuevo producto</h1>

    <div class="form-control-container">
        <div class="form-control">
            <label for="name">Nombre Producto</label>
            <input
                formControlName="name" 
                id="name" 
                type="text"
                placeholder="Nombre Producto"
            />
        </div>

        <div class="form-control">
            <label for="price">Precio</label>
            <input
                formControlName="price" 
                id="price"
                type="number"
            />
        </div>

        <div class="form-control">
            <label for="category">Categoría</label>
            <input
                formControlName="category"
                id="category"
                type="text"
                placeholder="Amigurumi/Accesorio"
            />
        </div>

        <div class="form-control">
            <label for="stock">Stock</label>
            <input
                formControlName="stock" 
                id="stock"
                type="number"
            />
        </div>
    </div>

    <div class="form-control-container">
        <div class="form-control">
            <label for="description">Descripción</label>
            <textarea
                formControlName="description"
                id="description"
                rows="4"
                placeholder="Escribe una descripción aquí..."
            ></textarea>
        </div>

        <div class="form-control">
            <label for="imagen">Subir Imagen</label>
            <input
                id="imagen"
                type="file"
                accept="image/*"
                class="file-input"
                (change)="onImageSelected($event)"  
                style="display: none;"  
            />
            <button 
                type="button" 
                class="custom-file-upload" 
                (click)="triggerFileInput()"> 
                Elegir Imagen
            </button>
            <span *ngIf="productForm.get('image')?.value">Imagen seleccionada: {{ productForm.get('image')?.value.split(',')[0] }}</span>
        </div>
    </div>

    <button type="submit"> Crear Producto</button>
</form>
