<div class="container" *ngIf="purchaseHistory && purchaseHistory.length > 0; else noHistory">
  <div *ngFor="let order of purchaseHistory" class="order">
    <h2>Orden #{{ order.id }}</h2> <!-- Asumiendo que cada orden tiene un ID -->
    <div>
      <h3>Fecha: {{ order.date | date: 'medium' }}</h3>
      <p>Destinatario: {{ order.recipientName }} {{ order.recipientSurname }}</p>
      <p>Dirección: {{ order.street }}, {{ order.provinciaDestino }}, {{ order.cpDestino }}</p>
      <p>Tipo de Envío: {{ order.shippingMethod }}</p>
      <p>Costo de Envío: {{ order.shippingCost | currency }}</p>
      <p>Costo Total: {{ order.totalCost | currency }}</p>

      <!-- Mostrar productos solo para la orden actual -->
      <div *ngIf="order.products && order.products.length > 0">
        <h4>Productos:</h4>
        <ul>
          <li *ngFor="let product of order.products">
            Producto: {{ product.nombre }} - Cantidad: {{ product.quantity }}
          </li>
        </ul>
      </div>

      <div *ngIf="!order.products || order.products.length === 0">
        <p>No hay productos en esta orden.</p>
      </div>

      <hr />
    </div>
  </div>
</div>

<ng-template #noHistory>
  <div class="noHistory">
    <p>No has realizado órdenes todavía.</p>
  </div>
</ng-template>
