<div class="container" *ngIf="purchaseHistory && purchaseHistory.length > 0; else noHistory">
  <div *ngFor="let order of purchaseHistory" class="order">
    <h2>Orden #{{ order.orderId }}</h2>
    <div>
      <h3>fecha: {{ order.date | date: 'medium' }}</h3>
      <p><strong>Destinatario:</strong> {{ order.recipientName }} {{ order.recipientSurname }}</p>
      <p><strong>Dirección:</strong> {{ order.street }}, {{ order.provinciaDestino }}, {{ order.cpDestino }}</p>
      <p><strong>Tipo de envio:</strong> {{ order.shippingMethod }}</p>
      <p><strong>Costo de envio:</strong> {{ order.shippingCost | currency }}</p>
      <p><strong>Costo total:</strong> {{ order.totalCost | currency }}</p>
      <p><strong>Estado:</strong> {{ order.state }}</p>


      <div class="productos" *ngIf="order.products && order.products.length > 0">

        <ul>
          <h4>Productos:</h4>
          <li *ngFor="let product of order.products">
            {{ product.quantity }} x {{ product.productName || 'Producto no disponible' }} -{{ product.price}}
          </li>
        </ul>
      </div>

      <div *ngIf="!order.products || order.products.length === 0">
        <p>No hay productos en esta orden.</p>
      </div>

      <hr />
    </div>
  </div>
</div>

<ng-template #noHistory>
  <div class="empty-history-message">
    <p>No has realizado órdenes todavía.</p>
  </div>
</ng-template>
