

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
  background-color: #95CBEE;
  padding: 20px;
  border-radius: 15px;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.empty-history-message {
  font-size: 24px;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  border: 2px solid #95CBEE;
  border-radius: 10px;
  background-color: #FEE9B2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: 20px auto;
}

.order {
  width: 100%;
  max-width: none;
  background-color: #D1E3EB;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: grid;
  gap: 15px;
  text-align: left;
}


h2 {
  text-align: center;
  font-size: 20px;
  color: black;
  margin-bottom: 20px;
  grid-column: span 2;
}

h3 {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444;
  margin-bottom: 10px;
}

/* Paragraphs */
p {
  font-size: 16px;
  color: #424242;
  margin-bottom: 8px;
}

/* Product list */
ul {
  list-style-type: none;
  padding: 0;
  background-color: #C4DCBB;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  display: grid;
  gap: 20px;
}

li {
  font-size: 16px;
  color: #444;
  margin-bottom: 6px;
}

/* Horizontal rule styling */
hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}

/* Message when no purchase history */
.noHistory {
  font-family: Arial, sans-serif;
  background-color: #95CBEE;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: #888;
  margin-top: 20px;
  grid-column: span 2;
}

/* Responsive styles */

/* For tablets and medium screens */
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    padding: 15px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .order {
    padding: 10px;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  p, li {
    font-size: 14px;
    margin-bottom: 6px;
  }

  h4 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .noHistory {
    font-size: 16px;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .order {
    padding: 8px;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 6px;
  }

  p, li {
    font-size: 12px;
    margin-bottom: 5px;
  }

  h4 {
    font-size: 14px;
    margin-bottom: 6px;
  }

  .noHistory {
    font-size: 14px;
  }
}
