.box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

h1 {
  color: #95CBEE;
  font-size: 50px;
}

.product-container {
  background-color: #D1E3EB;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  /* Oculta scroll horizontal del contenedor padre */
  padding: 30px 20px;
  border-radius: 16px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  scrollbar-width: none;
  /* Firefox */
}

.nav-arrow {
  all: unset;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F8E1E4;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

.nav-arrow:hover {
  background-color: #FCD5CE;
}

.left-arrow,
.right-arrow {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.product-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  /* Habilita scroll horizontal */
  -webkit-overflow-scrolling: touch;
  /* Scroll suave iOS */
  scrollbar-width: none;
  /* Firefox */
  flex-grow: 1;
  padding: 0;
}

.product-list::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari y Opera */
}

.product-card {
  flex: 0 0 auto;
  width: 280px;
  background-color: #e2f3e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, background-color 0.3s ease;
  margin: 10px;
}

.product-card:hover {
  background-color: #87a77c;
  transform: scale(1.05);
}

.product-card h2 {
  margin: 0;
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.product-card img {
  max-width: 200px;
  max-height: 200px;
  margin: 15px 0;
  border-radius: 6px;
  object-fit: cover;
}

.product-card p {
  font-weight: normal;
  margin: 8px 0;
  font-size: 1.1rem;
  text-align: center;
}

button {
  all: unset;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

/* Ocultar flechas en pantallas pequeñas para usar scroll táctil */
@media (max-width: 768px) {
  .nav-arrow {
    display: none;
  }

  .product-card {
    flex: 1 1 45%;
    /* Dos cards por fila */
    max-width: none;
    margin: 0;
  }

  .box h1 {
    font-size: 50px;
  }

}

@media (max-width: 468px) {


  .box h1 {
    font-size: 50px;


  }
}
