<div class="box">
<h1>Productos Recomendados</h1>
<div class="product-container">
  <ng-container *ngFor="let product of topStockProducts">
    <div class="product-card" [ngStyle]="{'background-color': productColors[product.productUrl]}">
      <div class="product-info" (click)="navigateToProductPage(product.productUrl)">
        <h2>{{ product.details?.name || 'Unnamed Product' }}</h2>
        <img [src]="product.details?.imageUrl || '/Assets/default-image.png'" alt="{{ product.details?.name || 'No Name' }}" />
      </div>
      <p> ${{ product.details?.price | number:'1.2-2' }}</p>
    </div>
  </ng-container>
</div>
</div>
