
p {
  font-family: 'Roboto', sans-serif;
}


body {
  font-family: 'MyCustomFont', 'Inter', sans-serif;
}


@font-face {
  font-family: 'MyCustomFont';
  src: url('/Assets/font/Recoleta-Font/Recoleta-Form/Recoleta-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  overflow-x: hidden;
}
