@font-face {
  font-family: 'MyCustomFont';
  src: url('/Assets/font/Recoleta-Font/Recoleta-Form/Recoleta-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyCustomFont', 'https://fonts.google.com/specimen/Inter';
}

