<div class="product-container">
  <ng-container *ngFor="let product of filteredProducts" >
    <div *ngIf="product.state === 'active'" class="product-card"
         [ngStyle]="{'background-color': productColors[product.id]}"
         (click)="selectProduct(product)"
         >
      <div class="product-info">
        <h2>{{ product.name }}</h2>
        <img [src]="product.imageUrl || '/favicon.ico'" alt="{{ product.name }}"/>
      </div>
      <p> ${{ product.price | number:'1.2-2' }}</p>
    </div>
  </ng-container>
</div>

