<div class="product-container">

  <ng-container *ngFor="let product of filteredProducts" >
    <div *ngIf="product.state === 'active'" class="product-card" [ngStyle]="{'background-color': getRandomColor()  }" (click)="selectProduct(product)">
      <div class="product-info">

        <h2>{{ product.name }}</h2>
        <img [src]="product.imageUrl || 'path/to/fallback-image.png'" alt="{{ product.name }}"/>

    </div>
    <p>Precio: ${{ product.price | number:'1.2-2' }}</p>
    </div>
  </ng-container>
</div>
